@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url("RobotoMono-Regular.ttf");
}

@font-face {
    font-family: 'Walter Turncoat';
    src: url("WalterTurncoat-Regular.ttf");
}

h1{
    text-align: center;
    color: #ab0583;
    background-color: #e89ed7;
    padding: top 5cm;
    font-family: 'Walter Turncoat';
    font-size: 5ex;
}

body{
    font-family: 'Roboto Mono', monospace;
    color: #7a055e;
}

img{
    border-width: 5px;
    border-style: solid;
    border-color: pink;
    border-radius: 2mm;
}

.box{
    border-color: rgb(204, 44, 167);
    border-width: 0.15cm;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(255, 191, 240);

    padding-top:15px;
    padding-bottom:10px;
    padding-left: 1.5cm;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right:10px;
}

input:focus{
    background-color: lightpink;
}

button:active{
    color: pink;
}

/**#agenda{
    background-color: rgb(255, 191, 240);
}*/